.parent_container{
    /* border: 2px solid red; */
    /* margin-top: 2%; */
    border-radius: 4px;
    padding: 2%;
    text-align: center;
    background-color: #8165a6;
    color: #fff;

}
.parent_container>p{
    font-size: 40px;
    font-weight: 600;
}
.parent_container>h4{
    font-size: 20px;
    /* color: blueviolet; */
    color: #680332;
    font-weight: 600;
}
.parent_container>img{
    margin: 2% auto;
}
.parent_container>h3{
    font-size: 20px;
    font-weight: 600;
}