.container_parent {
    /* background-color: #1e1e1e; */
    /* color: #f8f6f9; */
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    margin: 0% 15%;
    /* border: 2px solid green; */
}

.section1 {
    width: 15%;
    /* background-color: red; */
    /* height: 100px; */
}

/* .section1>div>div{
    position: absolute;
    background-color: pink;
    width: 100%;
    left : 20px;
} */

.dp {
    position: absolute;
    background-color: aqua;
    width: 80%;
    height: 50%;
    margin: 0 10%;
    /* border: 2px solid teal; */
    top: -30px;
    /* left : 20px; */
    border-radius: 8px 8px 0 0;
}

.dp>img {
    border-radius: 8px 8px 0 0;
    height: 100%;
    width: 100%;
}

/* .section1>div:nth-child(1) {
    position: relative;
    /* border: 2px solid green; */
    /* height: 300px; */
    /* margin-top: 10%; 
    border-radius: 0 0 4px 4px;
    background-color: #2c3432;
} */

.section2 {
    width: 65%;
    /* background-color: red; */
    /* height: 100px; */
}

.section3 {
    width: 18%;
    margin-top: -30px;
    background-color: #d83e86;;
    height: 310px;
    padding: 2%;
}



.dailynotes {
    /* border: 2px solid blue; */
    height: 100px;
    display: flex;
    padding: 4% 2%;
    justify-content: space-between;
    border-radius: 4px;
    /* background-color: #2c3432; */

    /* background-color: rgb(232, 230, 227); */
    background-color: #2c3e50;
    position: relative;
    
}

.dailynotes>img {
    height: 50px;
    width: 50px;
    
    object-fit: cover;
    border-radius: 50%;
}

.dailynotes>textarea {
    width: 85%;
    border-radius: 20px;
    resize: none;
    background-color: #2c3432;
    padding-left: 20px;
    padding-top: 10px;
    overflow-y: hidden;
    border: 2px solid #4c4c4b;
    /* position: relative; */
}

.notestextarea{
    position: relative;
}

.addBtn {
    /* border: 2px solid green; */
    font-size: 30px;
    margin-top: 8px;
    color: #4c4c4b;
    color: aliceblue;
    cursor: pointer;
}
.addBtn:hover{
    border-radius: 6px;
    box-shadow: 0 0 4px #fff;
}

.smiles {
    position: absolute;
    right: 60px;
    top: 39%;
    font-size: 20px;
    opacity: 0.4;
}

.get_started{
    border: 2px solid #fff;
    margin: 30% 10% 2% 10%;
    padding: 3% 0;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.section3>h4{
    font-size: 12px;
    color: #fff;
    text-align: center;
}