.landing_nav_parent{
    display: flex;
    justify-content: space-between;
    padding: 1% 15%;
    background-color: #190B25;
    color: #fff;
    margin: 0;
    position: sticky;
    top: 0.1px;
    left: 10px;
    z-index: 99;
}