*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.firstdiv{
    height: 50px;
    background-color: #202625;
    color: #fff;
}

.seconddiv{
    height: 50px;
    color: #fff;
    background-color: #190B25;
}