.parent_container{
    /* border: 2px solid green; */
    margin: 2% 10%;
    /* height: 200px; */
    display: flex;
    justify-content: space-between;
    gap: 1%;
}

.parent_container>div:nth-child(1){
    width: 20%;
    /* border: 2px solid aqua; */

}
.parent_container>div:nth-child(2){
    width: 55%;
    /* border: 2px solid violet; */
    /* margin-top: -2%; */
}
.parent_container>div:nth-child(3){
    width: 30%;
    /* border: 2px solid orange; */
    
}

.addpost_container{
    /* border: 2px solid teal; */
    border-radius: 4px;
    background-color: #44318d;


}
.addpost_container>div{
    /* height: 50px; */
    /* border: 2px solid red; */
    padding: 2% 2% 0 2%;

}
.adddescription_container{
    width: 100%;
    resize: none;
    height: 70px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 4px;
    background-color: #a4b3b6;
    color: #fff;
}
.icons_container{
    display: flex;
    gap: 3%;
    flex-flow: row-reverse;
    /* border: 2px solid aqua; */
    padding: 1% 5%;
}

.preview_btn{
    border: 1px solid #fff;
    font-size: 14px;
    margin-bottom: 1%;
    padding: 0 2%;
    color: #fff;
    border-radius: 10px;
}

.icons_container>label>p{
    /* border: 2px solid aqua; */
    text-align: center;
    align-items: center;
    font-size: 22px;    
    color: #fff;
    cursor: pointer;
}
.icons_container>p{
    color: #fff;
    font-size: 20px;    
}

.changed{
    border: 2px solid red;
    /* margin: 0 2px; */
}
.changed>h2{
    font-size: medium;
    font-weight: 700;
}

input[type="file"]{
    display: none;
}